/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap");
/* General Styling */
html {
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Raleway", "Roboto", "Open sans";
  line-height: 24px;
  background: #dddddd;
}
a {
  text-decoration: none;
  color: #2c2c2c;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Josefin Sans", "Raleway";
}
h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  color: #8d8d8d;
  font-size: 1.4em;
}


p {
  margin: 0;
  font-size: 1em;
}


/* custom */
.container {
    position: relative;
    margin:  auto;
    padding: 24px 0px;
    max-width: 1000px;
    background: rgb(238, 238, 238);
    box-shadow: rgba(102, 102, 110, 0.2) 0px 7px 29px 0px;
  }
  header {
    
    margin-top: 10em;
    margin-bottom: 5em;
  }
  .group {
    margin: 56px auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
  }
  .group .title {
    display: block;
    height: auto;
    width: 250px;
    text-align: end;
  }
  .group .content {
    margin: 0px 40px;
    width: 100%;
  }
  .group .content-title {
  }
  .group .content-paragraph {
    margin: 16px 0 40px 0;
  }
.inline_block {
  display: inline-block;
  white-space: nowrap;
}
.transparent_title {
  margin: 0 16px;
}
.link{
    color: #757575;
    line-height: 20px;
}
.group .content-skill{
    display: flex;
    flex-direction: row;
}
.group .skill-card{
    text-align: start;
    margin-right: 3em;
}
.group .skill-card-list{
    margin-top: 16px;
}

/* reuseable */
.margin_bottom{
    margin-bottom: 8em;
}
.margin_top{
    margin-top: 2em;
}