@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400;500&display=swap');
body{
    font-family: 'Newsreader', serif;
    font-weight: 400;
}
ul{
    list-style: none;
}
a{
    cursor: pointer;
}